@import 'variables';
.text-primary {
    color: @blue  !important;
}

.bg-primary {
    background: @blue  !important;
}

.bg-danger {
    background: @red  !important;
}

.bg-warning {
    background: @orange  !important;
}

.bg-success {
    background: @green  !important;
}

.bg-secondary {
    background: @grey  !important;
}

.nav-link {
    font-weight: 500;
    margin-top: 3px;
    text-align: center;
    color: @grey  !important;

    &:hover {
        background: @blue;
        color: #fff !important;
    }
}

@media @min768 {
    .navbar {
        padding: 0;
    }

    .nav-link {
        padding: 20px;
        margin-top: 0;
        margin-right: 5px;
    }
}