$pageFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$headerBackground:url("../img/header_background_v1.jpg") no-repeat center;
$mainPageColor: #000;
$buttonColor: #01acac;
$topTextColor: #fff;
$pageBackground: #fff;
$articleBackground:  #efefef;
$postDescriptionColor: #e90303;
$postDescriptionTitle:#0097ae;
$inputLabelColor: #0097a7;