.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 15px;
    background: #303130;
    cursor: pointer;
}

.employees {
    list-style-type: none;
    padding: 0;
    width: 400px;
}

.employees li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
}

.employees li a {
    text-decoration: none;
    color: #5a5a5a;
}

.employees li .icons {
    margin-left: auto;
}

.employees li .icons i {
    margin: 0 8px;
}

.employees.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.employees li.selected:hover {
    background-color: #BBD8DC !important;
    color: #fff;
}

.employees li:hover {
    color: #EEE;
    background: #8f979b;
}

.add-btn {
    background: #597a52;
    padding: 10px;
}